.vscode/**
.vscode-test/**
src/**
!src/ui/*.css
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
tsconfig.json
webpack.config.js
node_modules/**
!node_modules/
scripts/**
*.log
*.vsix
agent-dist/**/*.ts
agent-dist/**/*.map